# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# DVC
/test.txt
/mosgorsud.csv
/mosgorsud00.csv
/mosgorsud01.csv
/mosgorsud02.csv
/mosgorsud03.csv
/mosgorsud04.csv
/tfidf.joblib
/logreg.joblib